* {
    background-color: #FFC60B;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size:  110px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
    color: #1F1717;
    padding: 2%;
}

h2 {
    font-size: 45px;
    font-family: Helvetica, sans-serif;
    color: #1F1717;
    padding-bottom: 2%;
}

#container {
    height: 500px;
    width: 900px;
    margin: 0 auto;
    padding: 2%;
}

.page {            
    background: url("404_page.png");
    background-repeat: no-repeat;
    background-size: 25%;
    height: 70vh;
    background-attachment:local;
    background-position: 50%;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1F1717;
  border-radius: 15px;
  box-sizing: border-box;
  color: #1F1717;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #FFC60B;
  background-color: #1F1717;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}